# Azure Key Vault Secret Provider for FeatBit
# See README-keyvault.md for complete setup instructions

apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: featbit-keyvault-secrets
  namespace: featbit
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "<YOUR_KUBELET_IDENTITY_CLIENT_ID>"  # AKS kubelet identity client ID
    tenantId: "<YOUR_TENANT_ID>"           # Update with your Azure tenant ID
    keyvaultName: "<YOUR_KEYVAULT_NAME>"   # Update with your Key Vault name
    objects: |
      array:
        - |
          objectName: <YOUR_PG_SECRET_NAME>
          objectType: secret
          objectAlias: pg-password
        - |
          objectName: <YOUR_REDIS_SECRET_NAME>
          objectType: secret
          objectAlias: redis-password
  
  secretObjects:
  - secretName: <YOUR_PG_K8S_SECRET_NAME>
    type: Opaque
    data:
    - objectName: pg-password
      key: password
  - secretName: <YOUR_REDIS_K8S_SECRET_NAME>
    type: Opaque
    data:
    - objectName: redis-password
      key: password
