apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ include "featbit.fullname" . }}-das
  labels:
    {{- include "featbit-metadata-labels-common" . | nindent 4 }}
    app.kubernetes.io/component: das
  annotations:
    {{- include "featbit-metadata-annotations-common" . | nindent 4 }}
spec:
  {{- if not .Values.das.autoscaling.enabled }}
  replicas: {{ .Values.das.replicaCount }}
  {{- end }}

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.das.rollout.maxSurge }}
      maxUnavailable: {{ .Values.das.rollout.maxUnavailable }}

  selector:
    matchLabels:
      {{- include "featbit.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: das
  template:
    metadata:
      {{- with .Values.das.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "featbit.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: das
        {{- with .Values.das.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- include "featbit.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "featbit.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.das.podSecurityContext | nindent 8 }}
      initContainers:
        {{- include "initContainers-wait-for-infrastructure-dependencies" . | indent 8 }}
      containers:
        - name: {{ .Chart.Name }}-das
          securityContext:
            {{- toYaml .Values.das.securityContext | nindent 12 }}
          image: {{ include "featbit.das.image" . }}
          imagePullPolicy: {{ .Values.das.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            periodSeconds: 5
            timeoutSeconds: 2
            httpGet:
              path: /api
              port: http
          readinessProbe:
            periodSeconds: 10
            timeoutSeconds: 5
            httpGet:
              path: /api
              port: http
          resources:
            {{- toYaml .Values.das.resources | nindent 12 }}
          env:
            - name: CHECK_DB_LIVNESS
              value: "false"
            {{- include "redis-env" . | indent 12 }}
            {{- include "mongodb-env" . | indent 12 }}
            {{- include "das-pro-env" . | indent 12 }}
            {{- with .Values.das.env }}
            {{ toYaml . | nindent 12 }}
            {{- end }}
      {{- with .Values.das.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.das.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.das.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
