{{- if .Values.mongodb.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  name: featbit-mongodb-init-scripts-configmap
  labels:
    {{- include "featbit-metadata-labels-common" . | nindent 4 }}
  annotations:
    {{- include "featbit-metadata-annotations-common" . | nindent 4 }}
data:
  {{- $db := (include "featbit.mongodb.db" .) }}
  01_init.js: |-
    const dbName = "{{ $db }}";
    print('use', dbName, 'database')
    db = db.getSiblingDB(dbName)

    print('seed started...')

    // seed ids
    const workspaceId = UUID()
    const userId = UUID()
    const organizationId = UUID()

    // built-in policies
    // see also: modules/back-end/src/Domain/Policies/BuiltInPolicy.cs
    const ownerPolicyId = UUID("98881f6a-5c6c-4277-bcf7-fda94c538785")
    const administratorPolicyId = UUID("3e961f0f-6fd4-4cf4-910f-52d356f8cc08")
    const developerPolicyId = UUID("66f3687f-939d-4257-bd3f-c3553d39e1b6")

    function getUUIDString() {
        return UUID().toString().split('"')[1];
    }

    // seed workspace
    print('clean and seed collection: Workspaces')
    db.Workspaces.deleteMany({})
    db.Workspaces.insertOne(
        {
            _id: workspaceId,
            name: "Default Workspace",
            key: "default-workspace",
            sso: null,
            license: null,
            createdAt: new Date(),
            updatedAt: new Date()
        }
    )
    print('collection seeded: Workspaces')

    // seed user
    print('clean and seed collection: Users')
    db.Users.deleteMany({})
    db.Users.insertOne(
        {
            _id: userId,
            email: "test@featbit.com",
            password: "AQAAAAEAACcQAAAAELDHEjCrDQrmnAXU5C//mOLvUBJ7lnVFEMMFxNMDIIrF7xK8JDQKUifU3HH4gexNAQ==",
            name: "tester",
            origin: "Local",
            workspaceId: workspaceId,
            createAt: new Date(),
            updatedAt: new Date()
        }
    )
    print('collection seeded: Users')

    // seed organization
    print('clean and seed collection: Organizations')
    db.Organizations.deleteMany({})
    db.Organizations.insertOne(
        {
            _id: organizationId,
            workspaceId: workspaceId,
            name: "playground",
            key: "playground",
            initialized: false,
            createdAt: new Date(),
            updatedAt: new Date(),
            defaultPermissions: {
                policyIds: [developerPolicyId],
                groupIds: []
            }
        }
    )
    print('collection seeded: Organizations')

    // seed organization users
    print('clean and seed collection: OrganizationUsers')
    db.OrganizationUsers.deleteMany({})
    db.OrganizationUsers.insertOne(
        {
            _id: UUID(),
            organizationId: organizationId,
            userId: userId,
            invitorId: null,
            initialPassword: "",
            createdAt: new Date(),
            updatedAt: new Date()
        }
    )
    print('collection seeded: OrganizationUsers')

    // seed system managed policies
    print('clean and seed collection: Policies')
    db.Policies.deleteMany({})
    db.Policies.insertOne(
        {
            _id: ownerPolicyId,
            organizationId: null,
            name: "Owner",
            description: "Contains all permissions. This policy is granted to the user who created the organization",
            type: "SysManaged",
            statements: [
                {
                    _id: getUUIDString(),
                    resourceType: "*",
                    effect: "allow",
                    actions: ["*"],
                    resources: ["*"]
                }
            ],
            createdAt: new Date(),
            updatedAt: new Date()
        }
    )
    db.Policies.insertOne(
        {
            _id: administratorPolicyId,
            organizationId: null,
            name: "Administrator",
            description: "Contains all the permissions required by an administrator",
            type: "SysManaged",
            statements: [
                {
                    _id: getUUIDString(),
                    resourceType: "organization",
                    effect: "allow",
                    actions: ["UpdateOrgName"],
                    resources: ["organization/*"]
                },
                {
                    _id: getUUIDString(),
                    resourceType: "organization",
                    effect: "allow",
                    actions: ["UpdateOrgDefaultUserPermissions"],
                    resources: ["organization/*"]
                },
                {
                    _id: getUUIDString(),
                    resourceType: "iam",
                    effect: "allow",
                    actions: ["CanManageIAM"],
                    resources: ["iam/*"]
                },
                {
                    _id: getUUIDString(),
                    resourceType: "access-token",
                    effect: "allow",
                    actions: [
                        "ManageServiceAccessTokens",
                        "ManagePersonalAccessTokens",
                        "ListAccessTokens"
                    ],
                    resources: ["access-token/*"]
                },
                {
                    _id: getUUIDString(),
                    resourceType: "relay-proxy",
                    effect: "allow",
                    actions: [
                        "ManageRelayProxies",
                        "ListRelayProxies"
                    ],
                    resources: ["relay-proxy/*"]
                },
                {
                    _id: getUUIDString(),
                    resourceType: "project",
                    effect: "allow",
                    actions: [
                        "CanAccessProject",
                        "CreateProject",
                        "DeleteProject",
                        "UpdateProjectSettings",
                        "CreateEnv"
                    ],
                    resources: ["project/*"]
                },
                {
                    _id: getUUIDString(),
                    resourceType: "env",
                    effect: "allow",
                    actions: [
                        "DeleteEnv",
                        "UpdateEnvSettings",
                        "CreateEnvSecret",
                        "DeleteEnvSecret",
                        "UpdateEnvSecret"
                    ],
                    resources: ["project/*:env/*"]
                }
            ],
            createdAt: new Date(),
            updatedAt: new Date()
        }
    )
    db.Policies.insertOne(
        {
            _id: developerPolicyId,
            organizationId: null,
            name: "Developer",
            description: "Contains all the permissions required by a developer",
            type: "SysManaged",
            statements: [
                {
                    _id: getUUIDString(),
                    resourceType: "access-token",
                    effect: "allow",
                    actions: [
                        "ManageServiceAccessTokens",
                        "ManagePersonalAccessTokens",
                        "ListAccessTokens"
                    ],
                    resources: ["access-token/*"]
                },
                {
                    _id: getUUIDString(),
                    resourceType: "relay-proxy",
                    effect: "allow",
                    actions: [
                        "ManageRelayProxies",
                        "ListRelayProxies"
                    ],
                    resources: ["relay-proxy/*"]
                },
                {
                    _id: getUUIDString(),
                    resourceType: "project",
                    effect: "allow",
                    actions: [
                        "CanAccessProject"
                    ],
                    resources: ["project/*"]
                }
            ],
            createdAt: new Date(),
            updatedAt: new Date()
        }
    )
    print('collection seeded: Policies')

    // seed member policy
    print('clean and seed collection: MemberPolicies')
    db.MemberPolicies.deleteMany({})
    db.MemberPolicies.insertOne(
        {
            _id: UUID(),
            organizationId: organizationId,
            policyId: ownerPolicyId,
            memberId: userId,
            createdAt: new Date(),
            updatedAt: new Date()
        }
    )
    print('collection seeded: MemberPolicies')

    // add indexes
    print('add indexes...')
    db.AuditLogs.createIndex({createdAt: 1});

    db.EndUsers.createIndex({envId: 1, keyId: 1});
    db.EndUsers.createIndex({updatedAt: 1});

    db.ExperimentMetrics.createIndex({updatedAt: 1});
    db.FeatureFlags.createIndex({updatedAt: 1});
    db.FeatureFlags.createIndex({createdAt: 1});
    db.FeatureFlags.createIndex({key: 1});
    db.Segments.createIndex({updatedAt: 1});
    db.AccessTokens.createIndex({createdAt: 1});
    db.Policies.createIndex({createdAt: 1});
    db.Projects.createIndex({createdAt: 1});
    db.RelayProxies.createIndex({createdAt: 1});
    db.Webhooks.createIndex({createdAt: 1});
    db.Webhooks.createIndex({startedAt: 1});
    db.WebhookDeliveries.createIndex({startedAt: 1});
    print('indexes added')
  02_update_admin_policies_workspace_perm.js: |-
    const dbName = "{{ $db }}";
    print('use', dbName, 'database')
    db = db.getSiblingDB(dbName)

    db.Policies.updateOne(
      {
          _id: UUID("3e961f0f-6fd4-4cf4-910f-52d356f8cc08"),
          "statements.resourceType": { $ne: "workspace" }
      },
      {
        $push: {
          statements: {
            _id: "7a910fbd-9463-4563-af72-fa977d34fdb2",
            resourceType: "workspace",
            effect: "allow",
            actions: [
              "UpdateWorkspaceGeneralSettings",
              "UpdateWorkspaceLicense",
              "UpdateWorkspaceSSOSettings"
            ],
            resources: ["workspace/*"]
          }
        }
      }
    );
  03_update_admin_policies_new_CreateOrg_perm.js: |-
    const dbName = "{{ $db }}";
    print('use', dbName, 'database')
    db = db.getSiblingDB(dbName)

    const administratorPolicyId = UUID("3e961f0f-6fd4-4cf4-910f-52d356f8cc08")

    function getUUIDString() {
      return UUID().toString().split('"')[1];
    }

    const newStatement = {
      _id: getUUIDString(),
      resourceType: "organization",
      effect: "allow",
      actions: [
        "UpdateOrgName",
        "UpdateOrgDefaultUserPermissions",
        "CreateOrg"
      ],
      resources: ["organization/*"]
    };

    db.Policies.updateOne(
      { _id: administratorPolicyId },
      { $pull: { statements: { resourceType: "organization" } } }
    );

    db.Policies.updateOne(
      { _id: administratorPolicyId },
      { $push: { statements: newStatement } }
    );
  04_update_proxy_policies_auto_agents.js: |-
    const dbName = "{{ $db }}";
    print('use', dbName, 'database')
    db = db.getSiblingDB(dbName)

    db.RelayProxies.updateMany(
        {},
        { $set: { autoAgents: [] } }
    );

    const bulkOps = [];

    const relayProxies = db.RelayProxies.find(
      { scopes: { $exists: true, $ne: null } },
      { _id: 1, scopes: 1 }
    ).toArray();

    relayProxies.forEach(proxy => {
        if (proxy.scopes && Array.isArray(proxy.scopes)) {
            const flattenedEnvIds = proxy.scopes.flatMap(scope =>
                scope && scope.envIds ? scope.envIds.map(envId => envId.toString()) : []
            );

            bulkOps.push({
              updateOne: {
                filter: { _id: proxy._id },
                update: { $set: { scopes: flattenedEnvIds } }
              }
            });
        }
    });

    if (bulkOps.length > 0) {
        db.RelayProxies.bulkWrite(bulkOps, { ordered: false });
    }
  05_v5.2.0.js: |-
    const dbName = "{{ $db }}";
    print('use', dbName, 'database')
    db = db.getSiblingDB(dbName)

    // https://github.com/featbit/featbit/pull/802

    db.Segments.updateMany(
        { tags: { $exists: false } },
        { $set: { tags: [] } }
    );

    // https://github.com/featbit/featbit/pull/811

    db.Organizations.updateMany(
        {},
        {
            $set: {
                "settings.flagSortedBy": "created_at"
            }
        }
    );

    db.Policies.updateOne(
        {
            type: "SysManaged",
            name: "Administrator"
        },
        {
            $push: {
                "statements.$[org].actions": {
                    $each: ["UpdateOrgSortFlagsBy"],
                    $position: 0
                }
            }
        },
        {
            arrayFilters: [
                { "org.resourceType": "organization" }
            ]
        }
    );

    // https://github.com/featbit/featbit/pull/821

    db.Policies.updateMany(
        {
            "statements.resourceType": "flag",
            "statements.actions": "ManageFeatureFlag"
        },
        {
            $set: {
                "statements.$[stmt].actions": ["*"]
            }
        },
        {
            arrayFilters: [
                {
                    "stmt.resourceType": "flag",
                    "stmt.actions": "ManageFeatureFlag"
                }
            ]
        }
    )

    db.AccessTokens.updateMany(
        {
            "permissions.resourceType": "flag",
            "permissions.actions": "ManageFeatureFlag"
        },
        {
            $set: {
                "permissions.$[perm].actions": ["*"]
            }
        },
        {
            arrayFilters: [
                {
                    "perm.resourceType": "flag",
                    "perm.actions": "ManageFeatureFlag"
                }
            ]
        }
    );

    // update built-in 'Administrator' and 'Developer' policies

    // add access to envs for 'Developer' policy
    db.Policies.updateOne(
        {
            organizationId: { $eq: null },
            type: "SysManaged",
            name: "Developer",
            "statements.resourceType": { $ne: "env" }
        },
        {
            $push: {
                statements: {
                    id: UUID().toString().split('"')[1],
                    resourceType: "env",
                    effect: "allow",
                    actions: ["CanAccessEnv"],
                    resources: ["project/*:env/*"]
                }
            }
        }
    );

    // add access to envs for 'Administrator' policy
    db.Policies.updateOne(
        {
            organizationId: { $eq: null },
            type: "SysManaged",
            name: "Administrator"
        },
        {
            $set: {
                "statements.$[stmt].actions": ["CanAccessEnv", "DeleteEnv", "UpdateEnvSettings", "CreateEnvSecret", "DeleteEnvSecret", "UpdateEnvSecret"]
            }
        },
        {
            arrayFilters: [
                { "stmt.resourceType": "env" }
            ]
        }
    );

    // add full access to feature flags
    db.Policies.updateMany(
        {
            organizationId: { $eq: null },
            type: "SysManaged",
            name: { $in: ["Administrator", "Developer"] },
            "statements.resourceType": { $ne: "flag" }
        },
        {
            $push: {
                statements: {
                    id: UUID(),
                    resourceType: "flag",
                    effect: "allow",
                    actions: ["*"],
                    resources: ["project/*:env/*:flag/*"]
                }
            }
        }
    );

  06_v5.2.1.js: |-
    const dbName = "{{ $db }}";
    print('use', dbName, 'database')
    db = db.getSiblingDB(dbName)

    const slugify = str => str
        .toLowerCase()
        .trim()
        .replace(/[^\w\s-]/g, '')
        .replace(/[\s_-]+/g, '-')
        .replace(/^-+|-+$/g, '');

    // https://github.com/featbit/featbit/pull/841
    // added key to Policies collection

    // fill keys if not exist
    db.Policies.find({
        $or: [
            { key: { $exists: false } },
            { key: null }
        ]
    }).forEach(doc => {
        db.Policies.updateOne(
            { _id: doc._id },
            { $set: { key: slugify(doc.name) } }
        );
    });

    // make sure keys are unique per organization
    db.Policies.aggregate([
        {
            $group: {
                _id: {
                    organizationId: "$organizationId",
                    key: "$key"
                },
                ids: { $push: "$_id" }
            }
        },
        {
            $match: {
                "_id.key": { $ne: null },
                "ids.1": { $exists: true }
            }
        }
    ]).forEach(group => {
        group.ids.forEach((id, index) => {
            if (index === 0) return;

            db.Policies.updateOne(
                { _id: id },
                {
                    $set: {
                        key: `${group._id.key}-${index + 1}`
                    }
                }
            );
        });
    });

    // https://github.com/featbit/featbit/pull/844
    // added key to Segments collection
    db.Segments.find({
        $or: [
            { key: { $exists: false } },
            { key: null }
        ]
    }).forEach(doc => {
        db.Segments.updateOne(
            { _id: doc._id },
            { $set: { key: slugify(doc.name) } }
        );
    });

    // make sure keys are unique
    db.Segments.aggregate([
        {
            $match: {
                key: { $ne: null },
                type: { $in: ["shared", "environment-specific"] }
            }
        },
        {
            $group: {
                _id: {
                    type: "$type",
                    scopeId: {
                        $cond: [
                            { $eq: ["$type", "shared"] },
                            "$workspaceId",
                            "$envId"
                        ]
                    },
                    key: "$key"
                },
                ids: { $push: "$_id" }
            }
        },
        {
            $match: {
                "ids.1": { $exists: true }
            }
        }
    ]).forEach(group => {
        group.ids.forEach((id, index) => {
            if (index === 0) return;

            db.Segments.updateOne(
                { _id: id },
                {
                    $set: {
                        key: `${group._id.key}-${index + 1}`
                    }
                }
            );
        });
    });
    {{- end -}}