apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ include "featbit.fullname" . }}-ui
  labels:
    {{- include "featbit-metadata-labels-common" . | nindent 4 }}
    app.kubernetes.io/component: ui
  annotations:
    {{- include "featbit-metadata-annotations-common" . | nindent 4 }}
spec:
  {{- if not .Values.ui.autoscaling.enabled }}
  replicas: {{ .Values.ui.replicaCount }}
  {{- end }}

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.ui.rollout.maxSurge }}
      maxUnavailable: {{ .Values.ui.rollout.maxUnavailable }}

  selector:
    matchLabels:
      {{- include "featbit.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: ui
  template:
    metadata:
      {{- with .Values.ui.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "featbit.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: ui
        {{- with .Values.ui.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- include "featbit.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "featbit.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.ui.podSecurityContext | nindent 8 }}
      initContainers:
        {{- include "initContainers-wait-for-other-components" (dict "context" . "component" "ui") | indent 8 }}
        {{- if and .Values.autoDiscovery (or (eq .Values.api.service.type "LoadBalancer") (eq .Values.els.service.type "LoadBalancer")) }}
        - name: auto-discovery
          image: {{ include "featbit.init-container.kubectl.image" . }}
          imagePullPolicy: {{ .Values.kubectl.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.ui.securityContext | nindent 12 }}
          command:
            - /scripts/auto-discovery.sh
          env:
            - name: SHARED_API_URL_FILE
              value: "/shared/api_url.txt"
            - name: SHARED_EVALUATION_URL_FILE
              value: "/shared/evaluation_url.txt"
          volumeMounts:
            - name: shared
              mountPath: /shared
            - name: scripts
              mountPath: /scripts/auto-discovery.sh
              subPath: auto-discovery.sh
        {{- if .Values.ui.extraInitContainers }}
        {{- with .Values.ui.extraInitContainers }}
        {{- tpl . $ | nindent 8 }}
        {{- end }}
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}-ui
          securityContext:
            {{- toYaml .Values.ui.securityContext | nindent 12 }}
          image: {{ include "featbit.ui.image" . }}
          imagePullPolicy: {{ .Values.ui.image.pullPolicy }}
          command:
            - /scripts/setup.sh
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            periodSeconds: 5
            timeoutSeconds: 2
            httpGet:
              path: /health
              port: http
          readinessProbe:
            periodSeconds: 10
            timeoutSeconds: 5
            httpGet:
              path: /health
              port: http
          resources:
            {{- toYaml .Values.ui.resources | nindent 12 }}
          env:
            - name: API_URL
              value: {{ include "featbit.api.external.url" . }}
            - name: EVALUATION_URL
              value: {{ include "featbit.els.external.url" . }}
            - name: DEMO_URL
              value: {{ include "featbit.demo.external.url" . }}
            {{- if include "ui.svc.basehref" . }}
            - name: BASE_HREF
              value: {{ include "ui.svc.basehref" . }}
            {{- end }}
            {{- if include "ui.svc.displayapiurl" . }}
            - name: DISPLAY_API_URL
              value: {{ include "ui.svc.displayapiurl" . }}
            {{- end }}
            {{- if include "ui.svc.displayevaluationurl" . }}
            - name: DISPLAY_EVALUATION_URL
              value: {{ include "ui.svc.displayevaluationurl" . }}
            {{- end }}
            {{- if and .Values.autoDiscovery (or (eq .Values.api.service.type "LoadBalancer") (eq .Values.els.service.type "LoadBalancer")) }}
            - name: SHARED_API_URL_FILE
              value: "/shared/api_url.txt"
            - name: SHARED_EVALUATION_URL_FILE
              value: "/shared/evaluation_url.txt"
            {{- end }}
            {{- with .Values.ui.env }}
            {{ toYaml . | nindent 12 }}
            {{- end }}
          volumeMounts:
            - name: scripts
              mountPath: /scripts/setup.sh
              subPath: setup.sh
            {{- if and .Values.autoDiscovery (or (eq .Values.api.service.type "LoadBalancer") (eq .Values.els.service.type "LoadBalancer")) }}
            - name: shared
              mountPath: /shared
            {{- end }}
        {{- if .Values.ui.extraContainers }}
        {{- with .Values.ui.extraContainers }}
        {{- tpl . $ | nindent 8 }}
        {{- end }}
        {{- end }}
      volumes:
        - name: scripts
          configMap:
            name: ui-scripts-configmap
            defaultMode: 0755
        {{- if and .Values.autoDiscovery (or (eq .Values.api.service.type "LoadBalancer") (eq .Values.els.service.type "LoadBalancer")) }}
        - name: shared
          emptyDir: { }
        {{- end }}
      {{- with .Values.ui.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ui.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ui.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}